# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Environment
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & System
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Offline dump / legacy assets folder
bubble-sort/
5000-blocks_16x9/
arrow-escape-puzzle_16x9/
arrow-exit-puzzle_16x9/
arrows-bmj_16x9/
block-puzzle-master_16x9/
blockbuster-puzzle_16x9/
bridge-builder-eoi_16x9/
bus-escape-clear-jam_16x9/
candy-riddles_16x9/
captain-blast_16x9/
car-out-jam-parking-puzzle_16x9/
castle-craft_16x9/
coffee-color-blocks_16x9/
color-match-amg_16x9/
color-tap-coloring-by-numbers_16x9/
confession-clock_16x9/
crab-cove-pixel-puzzle_16x9/
crazygames/
crazygames-sdk-v1.js
designville-merge-design_16x9/
doodle-road_16x9/
fairyland-merge-and-magic_16x9/
farm-merge-valley_16x9/
favorite-puzzles_16x9/
find-the-cow-lqn_16x9/
find-the-difference/
forgotten-treasure-2---match-3_16x9/
game/
gameframe/
games/
goods-triple-match-3d_16x9/
hexa-sort_16x9/
hexa-stack_16x9/
hidden-object-street-of-secrets_16x9/
hidden-objects-island-secrets_16x9/
hidden-objects_16x9/
icon/
images/
jigpic-solitaire_16x9/
magic-school_16x9/
mahjongclassicwebgl.png
mansion-tale-merge-secrets_16x9/
match-arena_16x9/
matchventures_16x9/
merge-haven-fzh_16x9/
mergest-kingdom_16x9/
metrics/
nonogram-square_16x9/
numicolor_16x9/
nuts-puzzle-sort-by-color_16x9/
open-house_16x9/
park-town_16x9/
piece-of-cake-merge-and-bake_16x9/
piles-of-mahjong-jhb_16x9/
pixel-blast_16x9/
portal-web/
prebid.js
railway-bridge_16x9/
screw-out-bolts-and-nuts_16x9/
screw-sort---fix-match-puzzle_16x9/
skydom-reforged_16x9/
skydom_16x9/
tap-3d-wood-block-away_16x9/
thief-puzzle_16x9/
tile-away-story_16x9/
tropical-merge_16x9/
v12.34/
v2/
v4/
what-s-the-difference-online_16x9/
wood-block-journey_16x9/
wood-screw-bolts-puzzle_16x9/
yarn-fever-unravel-puzzle_16x9/
